name: MLflow CI Training

on:
  push:
    branches:
      - main

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Miniconda
        uses: conda-incubator/setup-miniconda@v3
        with:
          activate-environment: mlflow-env
          environment-file: MLProject/conda.yaml
          auto-activate-base: false

      - name: Install MLflow
        run: |
          conda activate mlflow-env
          pip install mlflow

      - name: Run MLflow Project
        run: |
          conda activate mlflow-env
          cd MLProject
          mlflow run . \
            -P data_path=credit_risk_preprocessing.csv

